@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Fira+Code:wght@300;400;500;600;700&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Rose:wght@300;400;500;600;700&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --bg: #202020;
  --nir-delay: 25ms;
}

*::-webkit-scrollbar {
  width: 10px;
}
*::-webkit-scrollbar-thumb {
  background: #444;
  @apply rounded-full;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 24, 24, 24;
    --background-end-rgb: 24, 24, 24;
    --bg: #202020;
  }
}

body {
  color: white;
  background: var(--bg);
}

.font-bruno-ace {
  font-family: "Bruno Ace SC", sans-serif;
}
.font-josefin-sans {
  font-family: "Josefin Sans", sans-serif;
}
.font-red-rose {
  font-family: "Red Rose", cursive;
}
.font-poppins {
  font-family: "Poppins", sans-serif;
}
.font-roboto-slab {
  font-family: "Roboto Slab", serif;
}

.text-10xl {
  font-size: 150px;
}

.uwu-link:hover .underline {
  height: 110%;
}
.uwu-link .underline {
  z-index: -1;
  width: 100%;
}
.social-text {
  transition: all 0.2s ease;
  width: 0px;
  height: 0px;
  visibility: hidden;
  opacity: 0;
}
.social-link:hover .social-text {
  width: 4rem;
  height: 100%;
  visibility: visible;
  opacity: 1;
}

@media (min-width: 1000px) {
  #N {
    animation: nirlep 0.5s ease-in-out;
    animation-delay: calc(var(--nir-delay) * 1);
  }
  #I {
    animation: nirlep 0.5s ease-in-out;
    animation-delay: calc(var(--nir-delay) * 2);
  }
  #R {
    animation: nirlep 0.5s ease-in-out;
    animation-delay: calc(var(--nir-delay) * 3);
  }
  #L {
    animation: nirlep 0.5s ease-in-out;
    animation-delay: calc(var(--nir-delay) * 4);
  }
  #E {
    animation: nirlep 0.5s ease-in-out;
    animation-delay: calc(var(--nir-delay) * 5);
  }
  #P {
    animation: nirlep 0.5s ease-in-out;
    animation-delay: calc(var(--nir-delay) * 6);
  }
}

@keyframes nirlep {
  0% {
    opacity: 0;
    margin-top: 85px;
  }
  50% {
    opacity: 1;
    margin-top: 0px;
    scale: 1.5;
    margin-right: 40px;
  }
  100% {
    margin-right: 0px;
  }
}

.mdx-styles h1 {
  @apply text-4xl font-bold my-2;
}
.mdx-styles h2 {
  @apply text-2xl font-bold my-5;
}
.mdx-styles h3 {
  @apply text-xl font-bold my-1;
}
.mdx-styles h4 {
  @apply text-lg font-semibold my-1;
}

.mdx-styles hr {
  @apply my-3 bg-white bg-opacity-30 h-0.5 border-none;
}
.mdx-styles p {
  @apply text-lg text-gray-300;
}
.mdx-styles ul {
  @apply list-disc list-inside py-2 ml-2 text-gray-300;
}
.mdx-styles ol {
  @apply list-decimal list-inside py-2 ml-2 text-gray-300;
}
.mdx-styles {
  @apply mb-10 pb-10;
}

.back-btn:focus {
  animation: shrink 0.2s ease;
}

@keyframes shrink {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

.project {
  min-width: 350px;
  max-width: 450px;
}

.glassmorphism {
  @apply bg-white bg-clip-padding backdrop-filter backdrop-blur-xl bg-opacity-10 transition-all duration-200 border border-transparent;
}

.hover-glassmorphism {
  @apply hover:bg-white bg-clip-padding backdrop-filter hover:backdrop-blur-xl hover:bg-opacity-10 transition-all duration-200 border border-transparent;
}
.mdx-styles code {
  font-family: monospace;
  @apply bg-white bg-opacity-5 py-0.5 px-2 rounded-md text-white text-lg;
}
.mdx-styles pre code {
  font-family: "Fira Code", monospace;
  @apply p-4;
}
